/**
 * Global app/site styles
 */
body {
	background-color: blue;
}

/**
 * Default layout container
 */
.l-container {
	width: 90%;
	max-width: 3000px;
	margin: 0 auto;
}

.foo__bar {
	color: black;
}
